/* General */ 


html, body {
    height: 100%;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    color: var(--main-brown);
}


/* Rem */

html {
    font-size: 10px;
}

body {
    font-size: 16px;
}

:root {
    --main-brown: #3b2f17;
    --main-beige: #ede0da;
}

a, button {
    text-decoration: none;
    color: unset;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

a, h1, p, li, ul, h1, h2, h3, h4, div, h5, h6 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: unset;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.title {
    font-weight: 600;
    font-family: 'Playfair Display';
    font-size: 4rem;
}

.subtitle {
    font-weight: 600;
    font-family: 'Playfair Display';
    font-size: 3rem;
}

.hover-under {
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

.hover-under:hover,
.hover-under:active {
    border-bottom: 1px solid #7f673dce;
}

.hover-zoom {
    transition: transform 0.3s;
}

.hover-zoom:hover,
.hover-zoom:active {
    transform: scale(1.3, 1.3);
}

.line-right, 
.line-left {
    width: 300px;
    border-bottom: 1px solid var(--main-brown);
}

.line-right {
    margin-left: 20px;
}

.line-left {
    margin-right: 20px;
}

.handwtiting {
    font-family: 'Pinyon Script';
    font-size: 3rem;
    cursor: default;
}

.group__title  {
    margin: 0 auto 50px auto;
    width: fit-content;
    display: flex;
    align-items: center;
}

.margin {
    margin: 0 auto;
}

/* Header */


.header {
    padding: 20px 0;
    position: fixed;
    background-color: var(--main-beige);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header__body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    gap: 30px;
}

.header__link {
    font-weight: 600;
}


.header__right {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* Main */


.main {
}

.main__who-left {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    text-align: center;
}

.main__who-quote {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main__who {
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.main__who-btn {
    color: var(--main-brown);
    padding: 15px 10px;
    border: 1px solid var(--main-brown);
    max-width: fit-content;
    font-size: 1.8rem;
    border-radius: 2px
}

.main__who-btn:hover {
    background-color: var(--main-brown);
    color: var(--main-beige);
}

.main__who-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main__who-down {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    transition: all 0.3s;
    padding: 10px;
}

.main__who-down:hover {
    transform: translate(0, 10px);
}

.main__who-img {
    border-radius: 50%;
}

.main__who-title {
    text-transform: uppercase;
    font-weight: 600;
}

.main__who-txt {
    font-size: 2rem;
    font-weight: 600;
    max-width: 70%;
}

.reviews {
    margin-top: 40px;
}

.reviews__body {
    margin-top: 40px;
}

.reviews__block {
    display: flex !important; 
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 50%;
    position: relative;
}

.quote-top {
    top: 12%;
    left: 30%;
    position: absolute;
    z-index: 10;
}

.quote-bottom {
    bottom: -5%;
    right: 30%;
    position: absolute; 
    z-index: 10;
}

.reviews__name {
    font-family: 'Nunito Sans';
    font-size: 2rem;
    color: #b09a90;
}

.reviews__txt {
    max-width: 50%;    
    border: 1px solid var(--main-beige);
    padding: 20px;
    border-radius: 1px;
}

.slick-slider {
    display: flex !important;
    align-items: center;
}


.slick-prev,
.slick-next {
    width: 20px;
    height: 20px;
    color: var(--main-brown);
    transition: all 0.3s;
    font-size: 0;
    cursor: pointer;
    padding: 0;
    padding: 20px;
}


.slick-prev:hover,
.slick-next:hover {
    opacity: 0.5;
}

.slick-prev {
    border-bottom: 0.4rem solid;
    border-left: 0.4rem solid;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-top: none;
    border-right: none;
    background-color: transparent;
    left: 0;
}

.slick-next {
    border-bottom: 0.4rem solid;
    border-left: 0.4rem solid;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    right: 0;
    border-top: none;
    border-right: none;
    background-color: transparent;
}

.reviews__slider  .slick-list {
    padding: 20px;
}




/* Cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cards__block {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.cards__block:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.cards__img {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.cards__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards__title {
    font-size: 1.6rem;
    font-weight: 600;
}
.cards__place {
    font-size: 1.3rem;
    opacity: 0.7;
}
.cards__time {
    font-size: 1.3rem;
    opacity: 0.7;
}
.cards__price {
    font-weight: 600;
}

.tours__about {
    display: flex;
    margin: 0 0 80px 0;
    gap: 70px;
    margin-top: 130px;
}

.tours__about-img {
    position: relative;
    flex: 0 0 300px;
    height: 300px;
}

.tours__about-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.tours__about-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-left: 2px solid var(--main-beige);
    padding-left: 30px;
}

.tours__about-txt {
    font-size: 2rem;
}


.main__tour-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
    align-items: center;
}

.main__tour-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main__tour-txt {
}

.main__tour-quote {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.main__tour-imgs {
    display: flex;
    gap: 20px;
}

.main__tour-img {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.main__tour-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__click {
    margin-top: 40px;
}

.main__click-body {
    background-image: url('../src/car2.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}
.main__click-txt {
    font-size: 2.5rem;
    color: rgb(233, 223, 204);
    text-transform: uppercase;
    text-align: center;
}
.main__click-btn {
}


.tour__modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.tour__modal-body {
    position: relative;
    padding: 30px;
    max-width: 90%;
    margin: 50px;
    background: #FFFFFF;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 80%;
    overflow-y: scroll;
    align-items: center;
}

.modal__close {
    position: absolute;
    top: 2.5%;
    font-size: 40px;
    right: 2.5%;
    transition: all 0.3s;
}

.modal__close:hover {
    opacity: 0.7;
}

.visible {
    display: flex;
}

.tour__modal-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tour__title {
    margin-top: 20px;
}

.tour__time,
.tour__price {
    font-size: 1.3rem;
    opacity: 0.7;
}


.tour__imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-self: center;
    margin: 30px 0;
    align-items: center;
}

.tour__img {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.tour__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tour__body {
}


/* Footer */


.footer {
    padding: 20px 0;
    border-top: 1px solid #e1d5c1a2;
    margin-top: 40px;
}

.footer__body {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer__copyright {
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer__link {
}


/* Icons */

.fa {
    font-size: 30px;
    color: var(--main-brown);
}

.fa-arrow-down {
   color: #d6bbae;
   font-size: 40px;
}


/* Media */



@media screen and (max-width: 1024px) { 
    .container {
        max-width: 992px;
    }
}

@media screen and (max-width: 992px) { 
    .container {
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) { 
    .container {
        max-width: 576px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}