/* General */ 


html, body {
    height: 100%;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    color: var(--main-brown);
}


/* Rem */

html {
    font-size: 10px;
}

body {
    font-size: 16px;
}

:root {
    --main-brown: #3b2f17;
    --main-beige: #ede0da;
}

a, button {
    text-decoration: none;
    color: unset;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

a, h1, p, li, ul, h1, h2, h3, h4, div, h5, h6 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: unset;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.title {
    font-weight: 600;
    font-family: 'Playfair Display';
    font-size: 4rem;
}

.subtitle {
    font-weight: 600;
    font-family: 'Playfair Display';
    font-size: 3rem;
}

.hover-under {
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

.hover-under:hover,
.hover-under:active {
    border-bottom: 1px solid #7f673dce;
}

.hover-zoom {
    transition: transform 0.3s;
}

.hover-zoom:hover,
.hover-zoom:active {
    transform: scale(1.3, 1.3);
}

.line-right, 
.line-left {
    width: 300px;
    border-bottom: 1px solid var(--main-brown);
}

.line-right {
    margin-left: 20px;
}

.line-left {
    margin-right: 20px;
}

.handwtiting {
    font-family: 'Pinyon Script';
    font-size: 3rem;
}

/* Header */


.header {
    padding: 20px 0;
    position: fixed;
    background-color: var(--main-beige);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header__body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    gap: 30px;
}

.header__link {
    font-weight: 600;
}


.header__right {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* Main */


.main {
    margin-top: 130px;
}

.main__who-left {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    text-align: center;
}

.main__who-quote {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main__who {
}

.main__who-btn {
    color: var(--main-brown);
    padding: 15px 10px;
    border: 1px solid var(--main-brown);
    max-width: fit-content;
    font-size: 1.8rem;
    border-radius: 2px
}

.main__who-btn:hover {
    background-color: var(--main-brown);
    color: var(--main-beige);
}

.main__who-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main__who-img {
    border-radius: 50%;
}

.main__who-title {
    text-transform: uppercase;
    font-weight: 600;
}

.main__who-txt {
    font-size: 2rem;
    font-weight: 600;
    max-width: 70%;
}

.reviews {
    margin-top: 40px;
}

.reviews__title  {
    margin: 0 auto;
    width: fit-content;
}

.reviews__title {
    display: flex;
    align-items: center;
}

.reviews__body {
    margin-top: 40px;
}

.reviews__block {
    display: flex !important; 
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 50%;
    position: relative;
}

.quote-top {
    top: 12%;
    left: 30%;
    position: absolute;
    z-index: 10;
}

.quote-bottom {
    bottom: -5%;
    right: 30%;
    position: absolute; 
    z-index: 10;
}

.reviews__name {
    font-family: 'Nunito Sans';
    font-size: 2rem;
    color: #b09a90;
}

.reviews__txt {
    max-width: 50%;    
    border: 1px solid var(--main-beige);
    padding: 20px;
    border-radius: 1px;
}

.slick-slider {
    display: flex !important;
    align-items: center;
}


.slick-prev,
.slick-next {
    width: 20px;
    height: 20px;
    color: var(--main-brown);
    transition: all 0.3s;
    font-size: 0;
    cursor: pointer;
    padding: 0;
    padding: 20px;
}


.slick-prev:hover,
.slick-next:hover {
    opacity: 0.5;
}

.slick-prev {
    border-bottom: 0.4rem solid;
    border-left: 0.4rem solid;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-top: none;
    border-right: none;
    background-color: transparent;
    left: 0;
}

.slick-next {
    border-bottom: 0.4rem solid;
    border-left: 0.4rem solid;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    right: 0;
    border-top: none;
    border-right: none;
    background-color: transparent;
}

.reviews__slider  .slick-list {
    padding: 20px;
}

/* Footer */


.footer {
    padding: 20px 0;
    border-top: 1px solid #e1d5c1a2;
    margin-top: 40px;
}

.footer__body {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer__copyright {
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer__link {
}


/* Icons */

.fa {
    font-size: 30px;
    color: var(--main-brown);
}


/* Media */



@media screen and (max-width: 1024px) { 
    .container {
        max-width: 992px;
    }
}

@media screen and (max-width: 992px) { 
    .container {
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) { 
    .container {
        max-width: 576px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}